.navbar {
    width: calc(100% - 80px);
    height: 120px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0px 40px;
}

.logo {
    width: 55px;
    height: 55px;
    color: white;
    font-weight: 900;
    /* filter: invert(); */
    transition: transform 0.1s ease-in;
}

.logo:hover{
    transform: scale(1.02);
    filter: drop-shadow(0px 0px 5px #dc322d );
}

.link_style {
    text-decoration: none;
    color: white;
    margin: 0px 20px;
    font-weight: 100 !important;
    font-size: 20px;
    /* transform: scale(1.7); */
    
}
.link_style:hover{
    transform: scale(1.7);
    background: linear-gradient(45deg, #dc322d, #9333ea);
    -webkit-background-clip: text;
    color: transparent;
}


button {
    all: unset; 
}
.login_button {
    background-color: white;
    color: black;
    height: 45px;
    width: 85px;
    text-align: center;
    cursor: pointer;
    border: none;
    font-weight: 700;
    outline: none;
    font-size: 18px;
    margin: 10px 20px;
}
.login_button:hover{
    transition: transform 0.1s ease-in;
    background-color: rgb(147, 51, 234);
    color: white;
    filter: drop-shadow(0px 0px 60px #9333ea);
}

@media  (max-width: 767.98px) {
    .navbar {
        width: calc(100% - 40px);
        padding: 0px 20px;
        height: 90px;
    }
    .link_style {
        margin: 0px 10px;
        font-weight: 100 !important;
        font-size: 17px;
    }
    .login_button {
        margin: 10px 10px;
        font-size: 17px;
        height: 35px;
        width: 75px;
    }
    .logo {
        width: 45px;
        height: 45px;
    }
  }
  