.navbar {
    width: calc(100% - 80px);
    height: 120px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0px 40px;
}

.logo {
    width: 55px;
    height: 55px;
    color: white;
    font-weight: 900;
    /* filter: invert(); */
}

.link_style {
    text-decoration: none;
    color: white;
    margin: 0px 20px;
    font-weight: 100 !important;
    font-size: 20px;
}



button {
    all: unset; 
    /* display: inline-block; */
    /* cursor: pointer; */
}
.login_button {
    background-color: white;
    color: black;
    height: 45px;
    width: 85px;
    text-align: center;
    cursor: pointer;
    border: none;
    font-weight: 700;
    outline: none;
    font-size: 18px;
    margin: 10px 20px;
}

@media  (max-width: 767.98px) {
    .navbar {
        width: calc(100% - 40px);
        padding: 0px 20px;
        height: 90px;
    }
    .link_style {
        margin: 0px 10px;
        font-weight: 100 !important;
        font-size: 17px;
    }
    .login_button {
        margin: 10px 10px;
        font-size: 17px;
        height: 35px;
        width: 75px;
    }
    .logo {
        width: 45px;
        height: 45px;
    }
  }
  