:root {
  color: rgba(255, 255, 255, 0.87); 
  /* color: white; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #13181c, #1f2736); */

    -webkit-user-select: none; /* For Safari, Chrome, and Opera */
    -moz-user-select: none;    /* For Firefox */
    -ms-user-select: none;     /* For Internet Explorer and Edge */
    user-select: none;         /* Standard property */
}

html, body {
  touch-action: manipulation;

  
}

