.progress_bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0px;
    /* background: linear-gradient(to right, #dc322d,#dc322d, #282828, #dc322d); */
    height: 4.5px;
    overflow: hidden;
}

.progress_bar_animation_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 30000px;
    height: 10px;
    animation: gradientAnimation 0.9s ease-in forwards;
    animation-iteration-count: 1;
    background: linear-gradient(to right,       #dc322d,#dc322d,  #9333ea, #dc322d,#dc322d,  #dc322d, #dc322d, #9333ea, rgb(250, 248, 248) );
}

@keyframes gradientAnimation {
    0%{
        left : calc(-30000px + 100%);}
    100%{ left: 100%;}
  }

  @media  (max-width: 767.98px) {
    .progress_bar {
        height: 4px;
    } 
  }
  